samples/account.wadl

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:w="http://widget.openstack.com/widget/api/v1.0">

   <grammars>
    <schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        targetNamespace="http://widget.openstack.com/widget/api/v1.0"
        xmlns="http://www.w3.org/2001/XMLSchema">

        <simpleType name="AccountID">
            <restriction base="xsd:string">
                <pattern value="[^/]+" />
            </restriction>
        </simpleType>
    </schema>
   </grammars>

   <resources base="https://widget.openstack.com/widget/api/v1.0">
    <resource path="{accountId}">
        <param name="accountId" style="template" type="w:AccountID"/>
        .
        .
        .
    </resource>
   </resources>
</application>
